/* 
.btn-primary{
    border: none;
    border-radius: 1px;
    background: rgb(230,110,171);
    background: linear-gradient(90deg, rgba(230,110,171,0.9808298319327731) 20%, rgba(198,98,226,1) 80%);
  } */
  
  a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px ;
    border-radius: 5px;
  }
  
  a:hover {
  text-decoration: none;
  background:#fc3d3d  !important;
  transition: 300ms;
  }

  .card{
    border: black 1px solid!important;
    border-radius: 10px !important;
    padding: 10px;
    background-color: black;
  }
  .card-body {
    padding: 1.60px !important;
  }
  .card-title {
    margin-bottom: 1.4rem !important;
  }
  
  p {
    margin-top: 4px !important;
    margin-bottom: 1.5rem !important;
  }

  .owncard{
    display: block;
   
  }
