
.nav a {
  background-color: #ebebeb;
  border-radius: 30px;
  color: #000000;
  font-family: Calibri;
  font-weight: bold;
  margin-left: 50px;
}
.nav .signin {
  margin-right: 20px;
  font-size: 16px;
}
.nav a.current,
.nav a:hover {
  background-color: rgb(184, 184, 184);
  color: #000000;
  /* font-weight: bold; */
}

.containermain {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.sidebar {
  bottom: 0%;
  width: 18%;
  height: 100%;
  
  background: #fff;
  border-radius: 0px 0px 30px 0px;
  box-shadow:10px 10px 15px rgba(243, 24, 64, 0.07);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menu{

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
}

.menulist {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.menulist:hover {
  background: #f2f2f2;
  border-right: 5px solid #fc3d3d;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.menulist img {
    
  width: 13%;
  margin-right: 4px;
  margin-left: 4px;
}
.menulist h3 {
  width: 70%;
  padding-left: 10px;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #969696;
}


.emergency {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #ffd3d3;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}
.emergency:hover {
  border-right: 5px solid #fc3d3d;
  background: #ff9090;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.emergency img {
  width: 13%;
  margin-right: 4px;
  margin-left: 4px;
}
.emergency h3 {
  width: 70%;
  padding-left: 10px;
  
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ee1313;
}


.why {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-around;
  margin-top: 450px;
  padding-bottom: 70px;
}
.why:hover {
  cursor: pointer;
}
.why h3 {
  
  width: 100%;
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  
  margin-bottom: 10px;
  color: #ee565f;

}
.donateVector {
  width: 100%;
  text-align: center;
  
}

.donateVector img{
  height: 100%;
  width: 80%;
}

.container2{
  width: 82%;
  height: 100%;
}

.banner{
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #fc3d3d;
}
.banner1{
  width: 50%;
  float: left;
  display: flex;
  flex-flow: row wrap;
}
.banner1 h1 {
  width: 100%;
font-family: "Times New Roman";
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 74px;

margin-left: 20%;
margin-top: 30%;
color: #ffffff;
}
.banner1 h3 {
width: 100%;
font-family: Calibri;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 30px;
margin-left: 20%;
margin-top: -50px;
color: #ffffff;
}
.banner1 h3:hover {
cursor: pointer;
}
.banner2{
  width: 50%;
  margin-top: 7%;
}
.banner2 img {
  width: 100%;
  height: 100%;
}


.card-grid{
  height: 20%;
  width: 100%;    
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 45px;
  margin-bottom: 45px;
}

.card1,
.card2,
.card3 {
  width: 30%;
background: #a2d2ff;
box-shadow: 4px 4px 20px rgba(147, 147, 147, 0.25);
border-radius: 15px;
font-family: Calibri;
font-style: normal;
font-weight: 600;
font-size: 24px;
padding-left: 30px;
padding-top: 10px;
}

.card1 {
color: #1f5a91;
}
.card2 {
background-color: #7dfc7b;
color: #226b29;
}
.card3 {
background-color: #ffbed6;
color: #911f63;
}
.card1:hover {
cursor: pointer;
background-color: #76b4ee;
}
.card2:hover {
cursor: pointer;
background-color: #57e955;
color: #226b29;
}
.card3:hover {
cursor: pointer;
background-color: #f5a5c3;
color: #911f63;
}

.card-grid .total {
font-size: 16px;
font-weight: 500;
margin-top: 30px;
}
.card-grid .num {
font-size: 45px;
}



.nearby {
  height: 10%;
  width: 100%;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height */
  color: #474747;
  padding-left: 40px;
}

.hospital1,
.hospital2,
.hospital3 {
  width: 30%;
  height: 350px;
  background: #a2d2ff;
  box-shadow: 4px 4px 20px rgba(147, 147, 147, 0.25);
  border-radius: 15px;
  cursor: pointer;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding-left: 30px;
}
.hospital1 {
  background-image: url(../images/hospital1.jpg);
  background-size: cover;
}
.hospital2 {
  background-image: url(../images/hospital2.jpg);
  background-size: cover;
}
.hospital3 {
  background-image: url(../images/hospital3.jpg);
  background-size: cover;
}
.hospitalName {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: red;
  color: #fff;

  width: 150px;
  height: 0px;
  transition: height 500ms;
}

.hospital1:hover {
  opacity: 0.5;
}
.hospital2:hover {
  opacity: 0.5;
}
.hospital3:hover {
  opacity: 0.5;
}
.hospital1:hover .hospitalName {
  opacity: 1;
  height: 100px;
}
.hospital2:hover .hospitalName {
  opacity: 1;
  height: 100px;
}
.hospital3:hover .hospitalName {
  opacity: 1;
  height: 100px;
}