.nav a {
  background-color: #ebebeb;
  border-radius: 30px;
  color: #000000;
  font-family: Calibri;
  font-weight: bold;
  margin-left: 50px;
}
.nav a:hover {
  text-decoration: none;
}
.nav .signin {
  margin-right: 20px;
  font-size: 16px;
}
.nav a.current,
.nav a:hover {
  background-color: rgb(184, 184, 184);
  color: #000000;
  /* font-weight: bold; */
}

.containermain {
  position: relative;
  top: 70px;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sidebar {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 18%;
  height: 100%;

  width: 18%;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.sidebar .sidebar ul {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 20px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
}
.menu ul {
  padding-left: 25px;
}

.menulist {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.link {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* .menulist:hover {
  background: #f2f2f2;
  border-right: 5px solid #fc3d3d;
  mix-blend-mode: multiply;
  cursor: pointer;
} */

.menulist img {
  width: 13%;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

.menulist h3 {
  width: 70%;

  padding-top: 6px;
  padding-right: 0px;
  padding-left: 10px;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  /* identical to box height */
  color: #969696;
}

.emergency {
  width: 120%;
  margin-top: 20px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #ffd3d3;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}
.emergency:hover {
  border-right: 5px solid #fc3d3d;
  background: #ff9090;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.emergency img {
  width: 13%;
  margin-right: 4px;
  margin-left: 4px;
}
.emergency h3 {
  width: 70%;
  padding-left: 10px;

  padding-top: 6px;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ee1313;
}

.why {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.why:hover {
  cursor: pointer;
}
.why h3 {
  width: 100%;
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  padding-top: 20px;

  margin-bottom: -60px;
  color: #ee565f;
}
.donateVector {
  margin-top: -35px;
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
  padding-bottom: 60px;
  height: 60%;
  width: 60%;
}

.donateVector img {
  height: 100%;
  width: 100%;
}

.container2 {
  width: 82%;
  height: 100%;
  margin-left: 275px;
}
