.request-card {
  padding: 25px;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 900px;
  background-color: #86bbbd;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}
.rec-request form {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.request-card-1 {
  display: flex;
  background-color: rgba(233, 233, 233, 0.699);
}
.request-card.view {
  min-height: 100vh;
  height: max-content;
}

.request-card-1.view {
  display: block;
  width: 50%;
  min-height: max-content;
  background-color: rgba(233, 233, 233, 0.699);
}
.request-card-1.view.event .image {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.request-card-1.view.myreq .buttons {
  display: flex;
  justify-content: space-evenly;
}
.req-button {
  display: flex;
  justify-content: center;
}
.req-button h4 {
  margin-bottom: 0%;
}
.request-card-1 h3 {
  font-weight: 600;
  text-align: center;
  color: firebrick;
  padding-top: 20px;
  font-size: 40px;
}
.rec-request label {
  width: 30%;
  text-align: right;
  color: #156374;
  margin: 10px 0px 10px 10px;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
}
.rec-request .radiolabel {
  width: 200px;
  text-align: right;
  color: #156374;
  margin: 0px;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
}

.list {
  margin: 25px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}
.list h5 {
  margin: 10px;
  font-size: 25px;
  padding-bottom: 10px;
  margin-right: 50px;
  color: #156374;
  border-bottom: solid grey 0.2px;
}
.list h6 {
  color: rgb(63, 61, 61);
  margin: 10px 10px 20px 10px;
  border: none;
  font-size: 20px;
}
.drpdwn {
  height: 50px;
  min-width: 400px;
  max-width: 400px;
  margin: 20px 0px 20px 20px;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 18px;
  background-color: rgb(228, 241, 245);
  padding: 10px;
}

.rec-request input {
  color: black;
  font-size: 18px;
  height: 50px;
  width: 400px;
  margin: 20px 0px 20px 20px;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(228, 241, 245);
}
.rec-request .radiob {
  width: 40px;
  color: black;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  border: none;
  background-color: rgb(228, 241, 245);
}

.drpdwn2 {
  height: 50px;
  min-width: 400px;
  max-width: 400px;
  margin: 20px 0px 20px 20px;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 18px;
  background-color: rgb(228, 241, 245);
  padding: 10px;
}

.buttonform {
  text-decoration: none;
  margin-top: 30px;
  padding: 10px;
  width: 30%;
  cursor: pointer;
  background: firebrick;
  color: none;
  border-radius: 5px;
  border: none;
  color: white;
}
.application.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.application.buttons button {
  height: 50px;
}
