
  .banner img{

    width: 100%;
    height:100%;
    margin-top: 0px;
    padding-top: 0px;
    border:none;
}

.request-card{
    padding: 25px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.request-card-1{
    width: 45%;
    margin: 0px 20px 0px 20px;
    background: #F2FFF9;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow-y: scroll;
    height: 800px;
}

.rec-request {
  display: block;
  
}

.request-card-1 h3{
  font-weight: 600;
  text-align: center;
  color: #6069B4;
  padding-top: 20px;
  font-size: 40px;
}
.rec-request label {
  width: 30%;
  text-align: right;
  color: #156374;
  margin: 10px 0px 10px 10px ;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 20px;
line-height: 30px;
font-style: normal;
}

.list{
  margin: 25px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  
}
.list h5{
  margin: 10px;
  font-size: 25px;
  padding-bottom: 10px;
  margin-right: 50px;
  color: #156374;
  border-bottom: solid grey 0.2px ;
}
.list h6{
  color: rgb(63, 61, 61);
  margin: 10px;
  border: none;
}
.drpdwn{
  width: 40%;
  margin: 20px 0px 20px 20px ;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  border: solid grey 0.1px;
  color: grey;
}

.rec-request input{
  width: 50%;
  margin: 20px 0px 20px 20px ;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  border: solid grey 0.1px;
}

.drpdwn2{
  width: 50%;
  margin: 20px 0px 20px 20px ;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  border: solid grey 0.1px;
  color: grey;
}


.buttonform{
  padding: 16px 100px;
  text-decoration: none;
  
  margin: 30px 50px 30px 100px ;
  cursor: pointer;
  background: #6069B4;
  color: none;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Source Sans Pro;
  
  
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 35px;
}
