* {
  font-family: Calibri;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  background: url(../images/vector2.jpg);
  background-size: cover;
}

#signup {
  background: url(../images/vector4.jpg);
  background-size: cover;
}

.signin {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.layer {
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-shadow: 3px 3px 20px 6px #ccc;
}

.loginArea {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(230, 34, 34, 0.8);
  width: 380px;
  height: fit-content; */

  margin-left: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  min-width: 380px;
  background-color: white;
}

.vector#vector-login {
  background-image: url(../images/blood-donating-bg.jpg);
  background-size: cover;
  width: 150px;
  height: 150px;
}

.loginText {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.register {
  background-color: rgb(241, 253, 253);
}

.textArea div {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submitButton {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  min-width: 248px;
  color: whitesmoke;
  background-color: rgb(30, 89, 180);
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.submitButton:hover {
  background-color: rgb(25, 75, 151);
  border: none;
}

.google-btn {
  height: 40px;
  width: 248px;
  background: #fff;
  border: solid 2px rgb(226, 226, 226);
  border-radius: 3px;
  font-weight: 100;
  font-size: 14px;
  display: flex;
  padding: 10px 10px;
  flex: auto;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  justify-content: center;
}

.google-btn:hover {
  background: rgb(241, 241, 241);
}

.social-login {
  margin-bottom: 10px;
}

.social-login img {
  width: 20px;
}

.textArea input {
  padding-left: 10px;
  height: 40px;
  border: 1px solid rgba(46, 46, 46, 0.5);
  border-radius: 3px;
  font-weight: 500;
}

.createAccount {
  margin-top: 18px;
  font-size: 16px;
  font-size: 15px;
}
.createAccount p {
  color: black;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(48, 48, 48);
}

a:hover {
  color: black;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
