.verify{
    
  
  width: 100%;    
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 45px;
  margin-bottom: 45px;
}

.verify-1{
    width: 100%;
    
background: #a2d2ff;
box-shadow: 4px 4px 20px rgba(147, 147, 147, 0.25);
border-radius: 15px;
font-family: Calibri;
font-style: normal;
font-weight: 600;
font-size: 24px;
padding-left: 30px;
padding-top: 50px;
padding-bottom: 50px;
margin: 20px 40px 20px 40px;

box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.verifytext{
  width: 100%;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
    color: rgb(63, 61, 61);
}



.verifybutton{
    margin: 10px 40px 10px 10px;
    
  padding: 16px 100px;
  text-decoration: none;
  
  
  cursor: pointer;
  background: #6069B4;
  color: none;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Source Sans Pro;
font-style: normal;
font-weight: 20;

line-height: 35px;
}

.verifybutton a{
    text-decoration: none;
    
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 20;
  
  line-height: 35px;
}