* {
  font-family: Calibri;
}

.containermain.verification {
  background-color: #6068b441;
}

.verify {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 45px;
  margin-bottom: 45px;
}

.verify-1 {
  width: 100%;
  background-color: white;
  box-shadow: 4px 4px 20px rgba(147, 147, 147, 0.575);
  font-family: Calibri;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px 40px 20px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verifytext {
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  color: rgb(63, 61, 61);

  text-align: center;
}

.verifytext h4 {
  font-weight: 500;
}

.verifybutton {
  margin: 10px;
  margin-top: 40px;
  text-decoration: none;
  width: 30%;
  height: 50px;
  cursor: pointer;
  background: #6069b4;
  color: none;
  border: none;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: large;
  line-height: 35px;
}

.verifybutton a {
  text-decoration: none;
  font-style: normal;
  font-weight: 20;
  line-height: 35px;
}

.verify-1 h5 {
  margin-top: 10px;
  font-weight: 400;
}
