.modal {
    font-size: 28px;
    background-color: #f7f7f7;
  }

  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 10px;
    top: 28px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .why_donate h3 {
  
    width: 50%;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    
    margin-bottom: 10px;
    color: #ee565f;
  
  }

  .content {
    width: 100%;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
    margin-bottom: 10px;
    color: #000000;
  }